In [1]:
                          #string based assignment

In [2]:
#Write a program to reverse a string.

s="pwskills"
#using slicing method
s=s[::-1]
print(s)

sllikswp

In [4]:
#Check if a string is a palindrome.

x=input("enter any string")

if (x==x[::-1]):
    print("given string is a palindrome")
else:
    print("given string is not a palindrome" )

enter any string mam

given string is a palindrome

In [5]:
#Convert a string to uppercase.

#using inbuilt function

s="hello"
s.upper()

'HELLO'

In [7]:
#Convert a string to lowercase.

#using inbuilt function

s="WORLD"
s.lower()

'world'

In [21]:
#Join a list of words into a string.

s="this is second assignment"
x='^'
print(x.join(s))

t^h^i^s^ ^i^s^ ^s^e^c^o^n^d^ ^a^s^s^i^g^n^m^e^n^t

In [23]:
#Split a string into a list of words.

s="my name. is phani"
s.split('.')

['my name', ' is phani']

In [25]:
#Count the occurrences of a word in a string.

s="hello world"

s.count('l')

3

In [26]:
#Replace a word in a string with another word.

s="pwskills"

s.replace('k','h')

'pwshills'

In [32]:
'''Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

s="i am doing assignment right now"

x='_'
print(x.join(s))

i_ _a_m_ _d_o_i_n_g_ _a_s_s_i_g_n_m_e_n_t_ _r_i_g_h_t_ _n_o_w

In [35]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

In [43]:
#Check if a string ends with a specific word or phrase.

txt="hello suresh how are you"
x=txt.endswith('you',21)
print(x)

True

In [42]:
s="hello suresh how are you"
s.index('you')                               #used for testing index

21

In [46]:
#Convert a string to title case (e.g., "hello world" to "Hello World").

string="hello world"
string.title()

'Hello World'

In [51]:
#Find the longest word in a string.

s=input("enter any string")
#separating words from the list
word_list=s.split()

#taking the longest word in word list
x=max(word_list,key=len)
print("longest word is: ",x)

enter any string i am in hyderabab

longest word is:  hyderabab

In [1]:
#Find the shortest word in a string.

s=input("enter any string: ")
#separating words from the list
w=s.split()
#taking shortest word
x=min(w,key=len)
print("shortest word is: ",x)

enter any string:  i am in hyderabad

shortest word is:  i

In [6]:
#Reverse the order of words in a string.

x=input("enter any string: ")
#using slicing method
s=x[::-1]
print("reversed string is: ",s)

enter any string:  hello how are you

reversed string is:  uoy era woh olleh

In [7]:
#Check if a string is alphanumeric.

string="i neuron pw skills"
string.isalnum()

False

In [14]:
my_string = "today date is 5 th sep"
numbers = []
for word in my_string.split():
    if word.isnumeric():
        numbers.append(int(word))
print(numbers)

[5]

In [21]:
#Extract all alphabets from a string.

my_string=" today date is 5 th sep"
alp=[]
for word in my_string.split():
    if word.isalpha():
        alp.append(word)
print(alp)

['today', 'date', 'is', 'th', 'sep']

In [34]:
#Count the number of uppercase letters in a string.

s=input("enter any string")
count=0
for i in s:
    #checking upper case character
    if i.isupper():
        count+=1
print("no.of upper case letters are: ",count)

enter any string HeLLo

no.of upper case letters are:  3

In [33]:
#Count the number of lowercase letters in a string.

s=input("enter any string")
count=0
for i in s:
    if i.islower():
        count+=1
print("number of lower case letters are: ",count)

enter any string hello WORLD

number of lower case letters are:  5

In [38]:
#Swap the case of each character in a string.

s="phani"
x=s.swapcase()
print(x)

PHANI

In [45]:
#Remove a specific word from a string.

s1="good lucky"
s1.removesuffix('y')

'good luck'

In [1]:
######################List Based Practice Problem

In [4]:
#Create a list with integers from 1 to 10.

#taking integers list using inbuilt of range function

l=list(range(1,11))

In [5]:
l         #printing l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#2. Find the length of a list without using the `len()` function.

def find_length(lst):
    count=0
    for _ in lst:
        count+=1
    return count

#printing with example
my_list=[1,2,3,4,5]
length=find_length(my_list)
print("length of list is: ",length)

length of list is:  5

In [20]:
#3. Append an element to the end of a list.

#initialising list
l=[1,2,3,4,5]
#taking new element
new=6
#using in built function that is append to add 
l.append(new)
print("new list after adding new element is: ",new)

new list after adding new element is:  6

In [26]:
#4. Insert an element at a specific index in a list.

l=[1,2,3,4,5]
#using inbuilt function insert
l.insert(0,3)
print(l)

[3, 1, 2, 3, 4, 5]

In [27]:
#5. Remove an element from a list by its value.

l=[5,7,9,8,6]
#using inbuilt function remove
l.remove(6)
print(l)

[5, 7, 9, 8]

In [32]:
#6. Remove an element from a list by its index.
l=[5,7,9,8,6]
#using inbuilt function
#pop which is used to remove element by its index
l.pop(2)

9

In [34]:
#7. Check if an element exists in a list.

l=[3,4,5,6,7,8,"phani"]
ele=input("enter element to check")

if ele in l:
    print("element exists")
else:
    print("element doesn't exist")

enter element to check 6

element doesn't exist

In [35]:
#8. Find the index of the first occurrence of an element in a list.

my_list=[1,2,3,4,5]
element_to_find=3

index=my_list.index(element_to_find)
print("the index of the first occurrence of an element in a list:",index)

the index of the first occurrence of an element in a list: 2

In [40]:
#9. Count the occurrences of an element in a list.

l=[1,2,3,4,5,5,5,8,9]
#using inbuilt function find
l.count(5)

3

In [41]:
#10. Reverse the order of elements in a list.

l=[10,20,30,40,50,60]
l[::-1]             #slicing method

[60, 50, 40, 30, 20, 10]

In [50]:
#11. Sort a list in ascending order.

l=[7,6,5,1,2,545,545,787,454,23]
l.sort()

In [45]:
l

[1, 2, 5, 6, 7, 23, 454, 545, 545, 787]

In [4]:
# Sort a list in descending order.

l=[7,6,5,1,2,545,545,787,454,23]

#for printing in descending order here we use sorted(reverse=True)
sorted_list=sorted(l,reverse=True)
print("sorted list in descending order: ",sorted_list)

sorted list in descending order:  [787, 545, 545, 454, 23, 7, 6, 5, 2, 1]

In [8]:
#13. Create a list of even numbers from 1 to 20.

lst=list(range(1,21))

#loop for even

for x in lst:
    if x%2==0:
        print(x,end=" ")

2 4 6 8 10 12 14 16 18 20

In [9]:
#14. Create a list of odd numbers from 1 to 20.

lst=list(range(1,21))

#loop for odd

for x in lst:
    if x%2!=0:
        print(x,end=" ")

1 3 5 7 9 11 13 15 17 19

In [5]:
#15. Find the sum of all elements in a list.

l=[1,2,3,4,5,6,7,8]
sum_of_all_elements=sum(l)
print("the sum of all elements in a list is: ",sum_of_all_elements)

the sum of all elements in a list is:  36

In [7]:
#16. Find the maximum value in a list.

l=[1,2,3,4,5,6,7,8]
#taking max function and that value stored in x
x=max(l)
print("maximum value in a list is: ",x)

maximum value in a list is:  8

In [8]:
#17. Find the minimum value in a list.
l=[1,2,3,4,5,6,7,8]
#taking min function and that value stored in x
x=min(l)
print("minimum value in a list is: ",x)

minimum value in a list is:  1

In [36]:
#18. Create a list of squares of numbers from 1 to 10

x=list(range(1,11))
#list comprehension is used for squares of numbers
squares_of_numbers=[  x**2 for x in range(1,11) ]

In [37]:
squares_of_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
#19. Create a list of random numbers.

import random
##here we used list comprehension and an inbuilt function called random

random_numbers=[random.randint(1,100) for _ in range(1,100)]
print("list of random numbers are: ",random_numbers)

list of random numbers are:  [14, 4, 39, 77, 24, 4, 59, 48, 70, 56, 36, 20, 95, 43, 88, 69, 95, 35, 38, 25, 19, 95, 78, 80, 57, 84, 88, 28, 77, 85, 81, 76, 69, 60, 79, 18, 57, 6, 33, 62, 38, 71, 42, 13, 12, 90, 26, 74, 24, 5, 38, 61, 96, 16, 24, 72, 54, 4, 58, 52, 46, 75, 61, 97, 38, 98, 12, 10, 75, 41, 29, 92, 45, 47, 34, 40, 20, 32, 61, 1, 11, 57, 56, 62, 86, 20, 72, 68, 63, 51, 20, 53, 59, 66, 33, 78, 16, 7, 26]

In [41]:
#20. Remove duplicates from a list.

l=[11,22,22,3,4,6,11,3,4,7,8,9]
#here we convert list in set bcoz set contains unique elements
new_list=list(set(l))
print("after removing duplicates: ",new_list)

after removing duplicates:  [3, 4, 6, 7, 8, 9, 11, 22]

In [42]:
type(l)

list

In [43]:
type(list(set(l)))

list

In [48]:
#21. Find the common elements between two lists.

l1=[1,2,3,4,5,6,7,8]
l2=[1,2,3,9,7,0]
'''#here we are converting list to set for taking unique numbers
and using & for merging '''
common_elements=list(set(l1)&set(l2))

print(common_elements)

[1, 2, 3, 7]

In [53]:
#22. Find the difference between two lists.

l1=[1,2,3,4,5,6,7,8]
l2=[1,2,3,9,7,0]
'''#here we are converting list to set for taking unique numbers
and then we use - operator '''
difference=list(set(l1)-set(l2))

print("the difference between 2 lists is : ",difference)

the difference between 2 lists is :  [8, 4, 5, 6]

In [4]:
#23. Merge two lists.
l1=[1,2,3,4,5,6,7,8]
l2=[1,2,3,9,7,0]
#we do concadination for merging

merged_list=l1+l2
print("merged_list is: ",merged_list)

merged_list is:  [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 9, 7, 0]

In [14]:
#24. Multiply all elements in a list by 2.

numbers =[2,4,6,8,10,3]

# doing list comprehension
new=[num*2 for num in numbers]
print(new)

[4, 8, 12, 16, 20, 6]

In [28]:
#25. Filter out all even numbers from a list.

numbers=[1,2,3,4,5,6,7,8]
even_numbers=[i for i in numbers if i%2==0]
print(even_numbers)

[2, 4, 6, 8]

In [31]:
#26. Convert a list of strings to a list of integers.

s=["1","2","3"]
#list comprehension is used
new=[int(i) for i in s]
print(new)

[1, 2, 3]

In [32]:
type(new)

list

In [35]:
#27. Convert a list of integers to a list of strings

x=[1,2,3]
#using list comprehension
l=[str(i) for i in x]
print("list of integers to a list of strings is : ",l)

list of integers to a list of strings is :  ['1', '2', '3']

In [38]:
#28 . flatten a nested list

nested_list=[[1,2,3],[4,5,6],[7,8,9]]

flatten_list=[ele for sub_list in nested_list for ele in sub_list]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
#29. Create a list of the first 10 Fibonacci numbers.

fibanocci_series=[0]
for i in range(1,11):
    x=i
    fibanocci_series.append(x)
print("list of the first 10 Fibonacci numbers ",fibanocci_series)

list of the first 10 Fibonacci numbers  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#30. Check if a list is sorted

def is_sorted(lst):
    return sorted(lst)

my_list=[2,4,6,8,10,3]
if is_sorted(my_list):
    print("my list is sorted")
else:
    print("my list is not sorted")

my list is sorted

In [65]:
#31. Rotate a list to the left by `n` positions.
#creating function for rotation
def rotate_list(lst,n):
    rotated_list=lst[:n]
    return rotated_list
#initialising list,n=2
my_list=[2,4,6,8,10,3]
n=2
rotated_list=rotate_list(my_list,n)
print(rotated_list)

[2, 4]

In [66]:
#32. Rotate a list to the right by `n` positions.

#creating function for rotation
def rotate_list(lst,n):
    rotated_list=lst[n:]
    return rotated_list
#initialising list,n=2
my_list=[2,4,6,8,10,3]
n=2
rotated_list=rotate_list(my_list,n)
print(rotated_list)

[6, 8, 10, 3]

In [68]:
#33. Create a list of prime numbers up to 50.


def is_prime(num):
    if num<2:
        return False
    for(i in range(2,int(num**0.5)+1)):
        if num%i==0:
            return False
        return True
    
prime_numbers=[]
if num in range(2,51):
    if is_prime(num):
        prime_numbers.append(num)
        
        
print(prime_numbers)

SyntaxError: invalid syntax (530438787.py, line 7)

In [69]:
#34. Split a list into chunks of size `n`.

In [72]:
#50. Swap two elements in a list by their indices.

def swap_elements(lst,index1,index2):
    lst[index1],lst[index2]=lst[index2],lst[index1]
    
#example usage

my_list=[1,2,3,4,5]
index1=1
index2=3
swap_of_elements=swap_elements(my_list,index1,index2)
print("after swaping new list is: ",my_list)

after swaping new list is:  [1, 4, 3, 2, 5]

In [ ]:
# 49.check if a list cotain another list as subsequence

In [73]:
#############tuple based programs

In [79]:
#1. Create a tuple with integers from 1 to 5.

t=tuple(range(1,6))

In [80]:
t

(1, 2, 3, 4, 5)

In [81]:
type(t)

tuple

In [83]:
#2. Access the third element of a tuple.

t=(1,2,3,4,5,6,7)
t[3] #using idexing

4

In [84]:
#3. Find the length of a tuple without using the `len()` function.

def find_length(tup):
    count=0
    for _ in tup:
        count+=1
    return count

#printing with example
my_tuple=(1,2,3,4,5)
length=find_length(my_tuple)
print("length of list is: ",length)

length of list is:  5

In [85]:
#4. Count the occurrences of an element in a tuple.


t=(1,2,3,4,5,5,5,8,9)
#using inbuilt function find
t.count(5)

3

In [90]:
#5. Find the index of the first occurrence of an element in a tuple.
t=(1,2,3,4,5,5,5,8,9)
x=t.index(2)

In [91]:
x

1

In [92]:
#6. Check if an element exists in a tuple.

t=("apple","mango","bananna")
"apple" in t   #using in for checkig

True

In [96]:
#7. Convert a tuple to a list.

my_tuple=("apple","mango","bananna")
#using inbuilt list function
new=list(my_tuple)

In [98]:
new

['apple', 'mango', 'bananna']

In [99]:
type(new)

list

In [101]:
#8. Convert a list to a tuple.

my_list=["apple","bananna","mango"]

#using in built function
new=tuple(my_list)

TypeError: 'tuple' object is not callable

In [107]:
#9. Unpack the elements of a tuple into variables.

my_list=["apple","bananna","mango"]

'var1','var2','var3'=='my_list'

('var1', 'var2', False)

In [110]:
#10. Create a tuple of even numbers from 1 to 10.


tup=tuple(range(1,11))

#loop for even

for x in tup:
    if x%2==0:
        print(x,end=" ")

TypeError: 'tuple' object is not callable

In [114]:
#12. Concatenate two tuples.

t1=(1,2,3)
t2=(4,5,6)
#we use + operator for concatente two tuples
t=t1+t2
print(t)

(1, 2, 3, 4, 5, 6)

In [116]:
# 13. Repeat a tuple three times.

t=(1,2,3)
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [119]:
#14. Check if a tuple is empty.

t=(1,2,3)
#using not operator and boolean for checking tuple is empty or not
not bool(t)

False

In [127]:
#15. Delete a tuple.
t=(1,2,3)
#using del keyword to delete
del t
print(t)

NameError: name 't' is not defined

In [128]:
#16. Slice a tuple

t=(1,2,3)
#using slicing method to slice 
t[:-1]

(1, 2)

In [130]:
#Find the maximum value in a tuple.

t=(1,2,3)     #using max function
x=max(t)
print(x)

3

In [131]:
#18. Find the minimum value in a tuple.

t=(1,2,3)
x=min(t)           #using slicing method
print(x)

1

In [136]:
#19.Convert a string to a tuple of characters.

string="surya"
s1=tuple(string)

TypeError: 'tuple' object is not callable

In [140]:
#20.Sort the elements of a tuple.

t=(1,9,8,7,6,5,4,3,3,2)
x=sorted(t)                          #using sorting method

In [141]:
x

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [142]:
#21.Merge two tuples.

t1=(1,2,3)
t2=(4,5,6)
#using + operator  to merge 2 tuples
t=t1+t2

In [143]:
t

(1, 2, 3, 4, 5, 6)

In [151]:
#22.Check if a tuple is a palindrome.

t=(1,2,3)

if t==t[::-1]:
    print("it is a palindrome")
else:
    print("not a palindrome")

not a palindrome

In [155]:
#23.Reverse the elements of a tuple.

t=(1,2,3)
t=t[::-1]           #using index slicing method

In [156]:
t

(3, 2, 1)

In [157]:
########Set Based Practice Problem


#1. Create a set with integers from 1 to 5.

s=set(range(1,6))

In [158]:
s

{1, 2, 3, 4, 5}

In [161]:
#2. Add an element to a set.

s={1,2,3,4,5,6}
s.add(7)
#using inuilt function

In [162]:
s #calling s

{1, 2, 3, 4, 5, 6, 7}

In [163]:
#3.3. Remove an element from a set.

s={1,2,3,4,5,6}
s.remove(4)  #using inbuilt function

In [164]:
s

{1, 2, 3, 5, 6}

In [167]:
#4. Merge multiple sets into one.

s1={1,2,3}
s2={4,5,6}

s=s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [169]:
#5.

TypeError: 'str' object is not callable

In [170]:
#Pop an element from a set.

s={1,2,3,4,5,6,7,7,8}

In [172]:
s.pop()

1

In [174]:
#Find the maximum value in a set.

s={1,2,3,4,5}
max(s)             #using inbuilt function

5

In [175]:
#39. Find the minimum value in a set.


s={1,2,3,4,5}
min(s)             #using inbuilt function

1

In [177]:
#40. Create a set from user input.

user_input=input("enter elements separated by spaces:")

elements=user_input.split()
my_set=set(elements)

print(my_set)

enter elements separated by spaces: phani suresh bhavanaya

{'bhavanaya', 'phani', 'suresh'}